<div class="container mt-4">
   <div class="card">
       <div class="card-header">
           <h2>Resumen</h2>
       </div>
       <div class="card-body">
        
            <ul ngbNav #nav="ngbNav"  class="nav-tabs justify-content-center nav-fill">
                <li [ngbNavItem]="1">
                    <a ngbNavLink>Tomador</a>
                    <ng-template ngbNavContent>
                        <p>works</p>
                    </ng-template>
                </li>
                <li [ngbNavItem]="2">
                    <a ngbNavLink href="./producto">Asegurado</a>
                    <ng-template ngbNavContent>
                        <app-midinero></app-midinero>    
                    </ng-template>
                </li>
                <li [ngbNavItem]="3">
                    <a ngbNavLink>Vehiculo</a>
                    <ng-template ngbNavContent>
                        <app-midinero></app-midinero>    
                    </ng-template>
                </li>
                <li [ngbNavItem]="4">
                    <a ngbNavLink>Oferta</a>
                    <ng-template ngbNavContent>
                        <app-midinero></app-midinero>    
                    </ng-template>
                </li>
            </ul>
        
       
       </div>
   </div>
</div>
