<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true">
  <p style="color: white" > Loading... </p>
</ngx-spinner>

<div class="container">
    <div class="row justify-content-between mb-4 mt-3">
      <h1>Resumen</h1>
      <button class="btn btn-primary col-md-2" (click)="onClickConfirm()">Confimar</button>
    </div>     
    
      
    <ngb-tabset [destroyOnHide]="false">
      
      <ngb-tab title="Tomador">
        <ng-template ngbTabContent>
            <app-intervener-allocation [summaryType]='policy' ></app-intervener-allocation>
        </ng-template>
      </ngb-tab>
       
      <ngb-tab>
        <ng-template ngbTabTitle>Asegurado</ng-template>
        <ng-template ngbTabContent> 
          <app-summary-insured  ></app-summary-insured>
        </ng-template>
      </ngb-tab>
       
      <ngb-tab>
        <ng-template ngbTabTitle>Vehiculo</ng-template>
        <ng-template ngbTabContent>
            <app-summary-vehicle></app-summary-vehicle>
        </ng-template>
      </ngb-tab>
       
      <ngb-tab>
        <ng-template ngbTabTitle>Oferta</ng-template>
        <ng-template ngbTabContent>
           <app-policy-calculation></app-policy-calculation>
        </ng-template>
      </ngb-tab>
       
    </ngb-tabset>
    <div class="row justify-content-between">
      <button>Atras</button>
  
    </div>
</div>