<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "line-spin-fade" [fullScreen] = "true">
    <p style="color: white" > Cargando... </p>
</ngx-spinner>
<form [formGroup]="searchForm" class="mt-4">
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Busqueda de persona</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-5">   
        <div class="col-6">
            <div class="input-group mb-3">
                
                    <input type="text" class="form-control" placeholder="DNI" 
                    formControlName="frm_dni"
                    id="dni_search"
                    [(ngModel)]="identification.identification" >
                    <div class="input-group-append">
                    <button class="btn btn-secondary" (click)="onClickContinue()">SEARCH</button>  
                    </div>
               
              </div>  
        </div>                                
    </div>
    <div *ngIf="failure" class="row justify-content-center">
        <div  class="col-6 alert alert-info" role="alert">
            No se encontraron resultados con ese DNI
          </div>
    </div>
    
    <div class="row justify-content-center mt-5">
        <div class="col-6 p-5">
            <div class="d-flex justify-content-between bd-highlight">
                
                <button class="btn btn-outline-primary" (click)="onClickBack()">Atras</button>
                <button id="search_button" class="btn btn-primary" (click)="onClickContinue()">Continuar</button>
            </div>
        </div>                
    </div>


</div>
</form>