<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2>Tarjeta de credito</h2>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <div class="form-group">
                                <label>Titular</label>
                                <input type="text" class="form-control" id="client_name_card" aria-describedby="emailHelp">
                                <small id="emailHelp" class="form-text text-muted">Nombre y apellidos del titular de la cuenta</small>
                            </div>
                            <div class="form-row">
                                <div *ngIf="mastercard || visa || american" class="align-items-center my-auto col-md-1">
                                    <i *ngIf="american" class="fab fa-cc-amex fa-2x mb-1 text-primary"></i>
                                    <i *ngIf="visa" class="fab fa-cc-visa fa-2x mb-1 text-primary"></i>
                                    <i *ngIf="mastercard" class="fab fa-cc-mastercard fa-2x mb-1 text-primary"></i>
                                </div>                                
                                <div class="form-group col-md-11">
                                    <label>Número de tarjeta</label>
                                    
                                    <input type="number" class="form-control" [(ngModel)]="card" 
                                    name="numcard"
                                    id="card_number"
                                    (change)="onKeyDownCard()">
                                    
                                    <small class="form-text text-muted">Visa, Mastercard, American expres</small>
                                </div>
                            </div>
                           
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Año</label>
                                    <select class="form-control" id="year_card">
                                        <option value="2020">2020</option>                              
                                        <option value="2021">2021</option>
                                        <option value="2022">2022</option>
                                        <option value="2023">2023</option>
                                    </select>
                           
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Mes</label>
                                    <select class="form-control" id="month_card">
                                        <option value="1">Enero</option>                              
                                        <option value="2">Febrero</option>
                                        <option value="3">Marzo</option>
                                        <option value="4">Abril</option>
                                        <option value="5">Mayo</option>                              
                                        <option value="6">Junio</option>
                                        <option value="7">Julio</option>
                                        <option value="8">Agosto</option>
                                        <option value="9">Septiembre</option>                              
                                        <option value="10">Octubre</option>
                                        <option value="11">Noviembre</option>
                                        <option value="12">Diciembre</option>
                                    </select>
                                 
                                </div>
                            </div>
                           <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>CVV</label>
                                    <input id="cvv_card" type="text" class="form-control"  aria-describedby="emailHelp">
                                    <small  class="form-text text-muted">Se encuentra en la parte inferior al número de su tarjeta</small>
                                </div>
                           </div>
                           <div class="form-row justify-content-between mt-3">
                                <button class="btn btn-outline-primary col-md-3">Atras</button>
                                <button class="btn btn-primary col-md-3">Pagar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
