<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-7">
            <div class="card rounded">
                <div class="card-header">
                    <h4><b>Seleccione un producto</b></h4>
                   
                </div>
                <div class="card-body">
                    <div class="row p-4">                      
                        <select class="form-control-lg col-md-12" (change)="onChangeProduct($event)">                                             
                            <option *ngFor=" let item of products" [value]="item.id">{{item.product}}</option>
                        </select>                      
                    </div>
                    <div class="row justify-content-between p-3">
                        
                        <button id="id_product_continue" class="btn btn-primary col-md-3" (click)="onClickContinue()">Continuar</button> 
                    </div>
                                                     
                </div>                                                                                
            </div>
        </div>
    </div>
</div>