<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6 mt-4">
            <div class="card">
                <div class="card-header">
                    <h4><b>Asignación intervenientes</b></h4>
                    <span>Datos adicionales</span>
                </div>
                <div class="card-body">
                   <form [formGroup]="accountForm">
                       <div class="form-row mt-2">
                           <div class="col-md-5">
                               <label>Número de cuenta</label>
                           </div>
                           <div class="form-group col-md-7">
                                <input type="number" id="number_account"  
                                [ngClass]="{ 'is-invalid': submitted && f.number_account.errors}"
                                formControlName="number_account"
                            [(ngModel)]="account" class="form-control">
                                <div  *ngIf="submitted && f.number_account.errors" class="invalid-feedback">
                                    Porfavor digite una cuenta válida
                                </div> 
                           </div>
                           
                       </div>
                       <div class="form-row mt-4 mb-4">
                            <div class="col-md-5">
                                <label>Primer pago con tarjeta</label>
                            </div>
                            <label class="switch">
                                <input type="checkbox" id="id_success_account"  class="success" (change)="onChangeAccount($event)">
                                <span class="slider round">
                                </span>
                            </label>
                      
                    </div>
                    <div class="row justify-content-between p-3">
                        <button id="btn_account_back" class="btn btn-outline-primary" (click)="onClickBack()">Atras</button>
                        <button  id="btn_continue_back"  class="btn btn-primary" (click)="onClickContinue()">Siguiente</button>
                    </div>
                   </form>
                </div>
            </div>
        </div>
      
    </div>
</div>