<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true">
    <p style="color: white" > Cargando... </p>
</ngx-spinner>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="shadow p-4 mb-5 bg-white rounded  col-md-6">
            <div class="text-center">
                <h4><span class="badge badge-warning mb-4">Calculo de poliza</span></h4>
                <h5>Tu seguro a todo riesgo por solo</h5>
                <div class="mt-5">
                    <h1><b>${{price}}</b></h1>{{periodicity}}
                </div>
                <div class="mt-5">
                    <i class="fas fa-check text-success mr-2"></i>
                    <span>Fecha de efecto: {{dateEffect}}</span>
                </div>
                <div class="row mt-4" *ngIf="summary!='yes'">
                    <button id="id_policy_continue" class="btn btn-primary col-12" (click)="onClickContinue()">Siguente</button>
                    <button id="id_policy_back" class="btn btn-outline-primary col-12 mt-3 mb-3" (click)="onClickBack()">Atras</button>
                </div>
                <div class="row mt-4" *ngIf="summary=='yes'">
                    <button id="id_policy_contract" class="btn btn-primary col-12" (click)="onClickConfirm()">Contratar</button>
                </div>
            </div>
           
        
        </div>
       
        
    </div>
</div>