<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="shadow p-4 mb-5 bg-white rounded  col-md-6">
            <div class="text-center">
                <h4><span class="badge badge-warning mb-4">Calculo de poliza</span></h4>
                <h5>Tu seguro a todo riesgo por solo</h5>
                <div class="mt-5">
                    <h1><b>$500</b></h1>Mensual
                </div>
                <div class="mt-5">
                    <i class="fas fa-check text-success mr-2"></i>
                    <span>Fecha de efecto: 1 Junio 2020</span>
                </div>
                <button class="btn btn-primary col-12 mt-4" (click)="onClickContinue()">Siguente</button>
                <button class="btn btn-outline-primary col-12 mt-3 mb-3" (click)="onClickBack()">Atras</button>
            </div>
           
        
        </div>
       
        
    </div>
</div>