<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-7">
            <div class="row shadow">
                <div class="col-md-12 text-center bg-primary rounded">
                    <div class="mt-5 mb-5">
                        <i class="far fa-check-circle fa-5x text-white"></i>  
                    </div>
                    
                </div>               
                <div class="col-md-12 text-center">
                    <div class="mt-5 mb-5">
                        <h5>Enhorabuena ha realizado la contratación de su poliza de manera satisfactoria</h5>
                        <span class="text-muted">En los proximos dias recibiras la documentación de su poliza  en su domicilio</span>
                    </div>
                    <button class="btn btn-danger col-md-4 mb-5" (click)="onClickFinish()">VOLVER</button>
                </div>
                
            </div>
        </div>
    </div>
</div>