<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "line-spin-fade" [fullScreen] = "true">
    <p style="color: white" > Cargando... </p>
</ngx-spinner>
<div class="container-fluid mt-4">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-4">
            <div class="text-center" >
                <form [formGroup]="loginForm" class="form-signin" (submit)="onSingIn()">
                    <img class="mb-5" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">           
                    <label for="inputEmail" class="sr-only">Correo electronico</label>
                    <div class="input-group">
                        
                        <input type="email" id="inputEmail" class="form-control"
                        [(ngModel)]="user.userName" formControlName="email"                            
                        [ngClass]="{ 'is-invalid': submitted && f.email.errors}"                         
                        placeholder="Usuario" required autofocus>                          
                        <div  *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            {{errMessage}}
                        </div>
                        

                        
                    </div>
                    <label for="inputPassword" class="sr-only">Contraseña</label>
                    <input type="password" id="inputPassword" 
                    [(ngModel)] ="user.userPassword" formControlName="password"
                    
                    class="form-control mt-4" placeholder="Contraseña" required>
                    
                    <button class="btn  btn-primary btn-block mt-4" type="submit">Login</button>
                    <p class="mt-5 mb-3 text-muted">&copy; Itaca 2020 </p>
                    
                </form>
            </div>   
            
        </div>
    </div>
</div>
