
  <nav *ngIf="isLogged" class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-between">
    <a class="navbar-brand">{{app_name}}</a>
    <div class="form-inline my-2 my-lg-0">
      <div class="user-panel d-flex">
          <div class="image m-2">
            <img src="https://adminlte.io/themes/v3/dist/img/user2-160x160.jpg" width="30px" height="30px" class="rounded-circle" alt="User Image">
          </div>                      
      </div>
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="onClickLogout()">Salir</button>
    </div>
  </nav>