<div class="container mt-4 bg-ligth">
    <div class="row justify-content-center">
        <div class="card mb-5 bg-white rounded">
            <div class="card-header">
              <div class="row align-items-center p-3">
                <i class="fas fa-user text-primary mr-3"></i>
                <h4>Datos persona</h4>
              </div>
              <span>Asegurado</span>

            </div>
            <div class="card-body ">
              <form class="p-3"  [formGroup]="intervenerForm">                           
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-4 col-form-label">Nombre</label>
                    <div class="col-sm-8">
                      <input type="text"
                      formControlName="summary_firtsname"
                      readonly
                       class="form-control-plaintext" >
                    </div>
                </div>
            
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-4 col-form-label">Apellidos</label>
                    <div class="col-sm-8">
                      <input type="text" 
                      readonly                     
                      formControlName="summary_lastname"
                      readonly class="form-control-plaintext">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-4 col-form-label">DNI</label>
                    <div class="col-sm-8">
                      <input type="text" 
                      formControlName="summary_dni"
                      readonly class="form-control-plaintext">
                    </div>
                </div>
            
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-4 col-form-label">Fecha de nacimiento</label>
                    <div class="col-sm-8">
                      <input type="text" readonly class="form-control-plaintext"  formControlName="summary_bitrtay">
                    </div>
                </div>
            
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Dirección</label>
                    <div class="col-sm-3">
                      <input type="text" readonly class="form-control-plaintext" formControlName="summary_address">
                    </div>
                    <label class="col-sm-2 col-form-label">Número</label>
                    <div class="col-sm-1">
                      <input type="text" readonly class="form-control-plaintext"  formControlName="summary_number">
                    </div>
                    <label class="col-sm-1 col-form-label">Piso</label>
                    <div class="col-sm-1">
                      <input type="text" readonly class="form-control-plaintext"  formControlName="summary_floor">
                    </div>
                </div>
            
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Provincia</label>
                    <div class="col-sm-3">
                      <input type="text" readonly class="form-control-plaintext"  formControlName="summary_city">
                    </div>
                    <label class="col-sm-3 col-form-label">Codigo postal</label>
                    <div class="col-sm-1">
                      <input type="text" readonly class="form-control-plaintext"  formControlName="summary_codepostal">
                    </div>
                </div>
            
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Pais</label>
                    <div class="col-sm-8">
                      <input type="text" readonly class="form-control-plaintext"  formControlName="summary_country">
                    </div>
                </div>                                                                                        
            </form> 
            </div>          
      
        
        </div>
        
    </div>
   
  
</div> 